<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf-3.0.15.RELEASE.jar">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="webjars/jquery/3.3.1/jquery.js"></script>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>게시글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>일반조회수</th>
                <th>전문가조회수</th>
                <th>추천수</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="board:${boardList}">
            <td th:text = "${board.id}"></td>
            <td th:onclick="|viewBoard( ${board.id} )|" th:text = "${board.title}"></td>
            <td th:text = "${board.member.name}"></td>
            <td th:text = "${board.view}"></td>
            <td th:text = "${board.roleView}"></td>
            <td th:text = "${board.good}"></td>
            <td th:text = "${board.date}"></td>


        </tr>
        </tbody>
    </table>

<button id="create_board_but">작성</button>
    <button id="logout_button">로그아웃</button>

</body>

<script>

    console.log(document.cookie)

    $("#logout_button").click((e)=>{
        e.preventDefault()
        document.cookie = "id=; path=/; expires=Tue, 19 Jan 2000 03:14:07 GMT"
        location.replace("/")
    })

    $("#login_button").click((e)=>{
        e.preventDefault()
        document.cookie = "id=; path=/; expires=Tue, 19 Jan 2000 03:14:07 GMT"
        location.replace("/")
    })
    $("#create_board_but").click((e)=>{
        e.preventDefault()

        if (getCookie("id")==""){
            alert("로그인을 해주세요")
        }else{
            location.replace("/board")
        }

    })

    function getCookie(key){
        key = new RegExp(key + '=([^;]*)'); // 쿠키들을 세미콘론으로 구분하는 정규표현식 정의
        return key.test(document.cookie) ? unescape(RegExp.$1) : ''; // 인자로 받은 키에 해당하는 키가 있으면 값을 반환
    }

    function viewBoard(id){

        var data = {
            memberId : getCookie("id"),
            boardId : id
        }

        $.ajax({
            type:"PATCH",
            url:"/api/board",
            data:data,
            success:(res)=>{
                console.log(res)

            },
            error:(err)=>{
                console.log(err)
            }
        })
        location.replace("/board/"+id)





    }

</script>
</html>